.sita{
    width:auto;
    height:auto;
    padding: 100px;
    background-color: black;
}


h1{
    margin-bottom: 50px;
}

.e{
    width:200px;
    height:200px;
}

.btn{
    font-size: 10px;
    padding-left: 20px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
   border-radius: 0%;
   
}



img{
    width:500px;
    height:400px;
    margin-bottom:200px;

}

.uhu{
    width:20px;
    height:auto;
}

p{
  color: gray;
  font-size: 10px;
}

.col-2{
    font-size: 1px;
    color:gray;
}

.ehu{
    width:30px;
    height:30px;
    text-align:right;
}

