body{
    padding: 100px;
    background-color: black;
}


h1{
    margin-bottom: 50px;
}
.btn {
   margin-left:250px;
}




p{
  color: gray;
  font-size: 10px;
}

.col-2{
    font-size: 1px;
    color:gray;
}

.e{
    width:200px;
    height:100px;
}

#e{
    
}
