body{
    background: #fbf7f1;
    position: relative;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,ＭＳ Ｐゴシック, Osaka, sans-serif;
    color: #a69060;
    font-size: 12px;}
   

#header p {
    width: 351px;
    margin-left : auto;}
    #header #copy {
        margin-bottom: 115px;}
    #header #txt1 {
        margin-bottom: 30px;
        color: #a69060;
        font-size: 12px;
        }
    #header #txt2{
        margin-bottom: 20px ;
        color: #a69060 ;
        font-size: 12px ;
    }
    #header #txt3{
        margin-bottom:20px;
        color:#a69060;
        font-size: 12px;
    }
    #header #txt4{
        margin-bottom: 30px;
        color:#a69060;
        font-size: 12px;
    }
    #header{
        margin-bottom: 430px;
        padding-top:180px;
    }
    .section {
        margin-bottom: 120px;
        padding-top: 50px;}
    
    .section h2{
        text-align: center;
        color: #e8616b;
        font-size: 18.3px;
        padding-bottom: 39px;
        margin-bottom: 45px;
    }
#about .f_left{
       width:355px; 
    }
    .f_left{
        float: left;
        display: inline; 
    }
    .section p{
        line-height:19px ;
    }
    .mb30{
        margin-bottom: 30px;
    }
    #aout .f_right{
    width:355px;}
    .f_right{
        float:right;
        display: inline;
    }
        
    