@charset "UTF-8";

body{
    font-family: 'Rotis Serif W01', 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', YuMincho, '游明朝', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "halt";
    
}

#hero{
    height: 100vh;
    background: url("kv2.jpg");
    background-size: cover;
    background-position: center;

    
}

#logo{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;

    width: 153px;
    height: 56px;
    z-index: 1;

}

.buttom{
    position: absolute;
    color: white;
    right: 20px;
    bottom: 20px;
    margin: auto;


   
}


.main-logo img{
    max-width: 150px;
}



.into{ 
    color: black;
    writing-mode: vertical-rl;
    height: 565px;
    width: 217px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.comment{
    position: absolute;
    z-index: 1;
    color: white;
}

.box2{
    padding: 20px;
}

.col-sm-6{
    padding: 0;
}

.col-sm-4{
    padding: 0;

}


.box4{
    display: block;
    float: left;
    bottom: 10px;
}

.box5{
    display: block;
    right:0;
    bottom: 10px;
}