@media(max-width:1100px){
    .project-name {
        margin-bottom: 40px;
        font-size: 30px;
    }

    .project-text {
        padding: 100px 50px 0px 50px;
    }

    .project-synopsis {
        margin-bottom: 60px;
        color: #fff;
        font-size: 15px;
        line-height: 1.4;
    }

    .row{
        height:500px;
    }

    .is-right{
        left:480px;
    }

    .person-title{
        font-size:35px;
    }
    .person-label{
        font-size:23px;
    }
}


@media(max-width:990px){
    .nav{
        display:none;
    }

    .nav-small{
        display:inline-block;
    }

    .hero-title{
        font-size: 130px;
        font-weight: 700;
    }

    .square{
        width: 1400px;
    }

    .hero-img {
        height: 100px;
    }

    .is-right{
        left:400px;
    }

    .header-text{
        font-size:60px;
    }

}


@media(max-width:770px){
    #collapseExample, #collapseExample2, #collapseExample3, #collapseExample4, .project-arrow{
        display:none;
    }

    .project-title{
        font-size:45px;
        margin-bottom: 28px;
    }

    .project {
        padding-top: 30px;
    }

    .project-arrow-link {
        z-index: 1000;
        display: block;
        padding-top: 20px;
    }

    .project-arrow-hidden{
        width: 36px;
        transform: rotate(-90deg);
        float: right;
        padding-bottom: 10px;
    }

    h2{
        font-size:80px !important;
    }

    .footer-img{
        width:40px;
    }

    .footer-p-bold, .paragraph{
        font-size:16px;
    }
    
    .section{
        padding:50px 0px ;
    }

    .services-link {
        font-size: 35px;
    }
    
    .is-right{
        left:340px !important;
    }

    .person-img{
        left:18px;
    }

    .section-red{
        background-image:none;
    }

    .person-title{
        font-size:28px !important;
    }
    .person-label{
        font-size:20px;
    }

    .header-text{
        font-size:45px;
    }

    .hr{
        height:6px;
    }
    
}

