body{
    font-family:Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

img{
    display:inline-block;
}

.container{
    padding:0px;
    margin:0px;
    max-width:1980px;
}
.w-nav{
    height:200px;
}
.nav-logo{
    display:inline-block;
}
.nav{
    float:right;
}

.hero{
    height:600px;
}

h1{
  color: #000;
  font-size: 140px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -8px;
}

.square{
    position: absolute;
    left: 35%;
    z-index: 8;
    width: 1600px;
    max-width: none;
}

.wrapper{
    position: relative;
    z-index: 900;
    display:block;
}

.hero-yajirushi{
    height: 130px;
}

.section{
    position: relative;
}

.section-blue{
    position: relative;
    height:700px;
    background-color: #005cef;
}

.w-title-blue{
    font-size: 90px;
    line-height: 90px;
    color:#005cef;
    font-weight: bold;
}

.project{
    height:200px;
    border-bottom:solid 8x #0055ce;
}

.project-subtitle {
    color:red;
    font-weight: 550;
    text-decoration: none;
}

.project-title{
    color:red;
    display:inline-block;
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
}
.project-arrow{
    float:right;
}

.section-red{
    background:red;
}

.hr-blue{
    height:8px;
    background-color: #0055ce;
    /*border-bottom: solid 8px #005ce;*/

}

.header{
    color:white;
    font-size: 120px;
    font-weight: 600;
}

.services-body{
    font-weight: 500;
    text-align: justify;
    letter-spacing: -1px;
}

.services-link{
    font-size:50px;
    font-weight:550;
    text-decoration: none;
    color: #0048bc;
}

.services-link:hover{
    color:white;
    
}

a:hover{
    text-decoration: none;
}

.team{
    padding:100px 0px;
}

.team-bg{
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 120%;
    max-width: none;
    margin-top: 5%;
    margin-left: -10%;
}

.person-img{
    width:400px;
    left: 0px;
    bottom: 0px;
    display: block;
}

.person-img-1-overray{
    position: absolute;
    top: 0px;
    right: 0px;
}

.person-img-1-overray:hover{
    opacity: 0;
}

.person-title{
    color:white;
    font-size:50px;
    text-align:left;
    font-weight:600;
}

.person-label{
    color: hsla(0, 0%, 100%, .6);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}