body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;

}

img{
    display:inline-block;
}

a:hover{
    color:none;
}

.container{
    padding:0px;
    margin:0px;
    max-width:100%;
}

.nav-logo{
    display:inline-block;
    padding-top:40px;
    padding-bottom:40px;
}
.nav{
    float:right;
}

.nav-link{
    padding:40px 30px;
    font-size:20px;
    color:black;
}

.nav-link-home{
    color:#005cef;
}

.nav-link-contact{
    padding-right:0px;
}

h1{
  color: #000;
  font-size: 140px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -8px;
}

.square{
    position: absolute;
    left: 35%;
    z-index: 8;
    width: 1600px;
    max-width: none;
}

.wrapper{
    position: relative;
    z-index: 900;
    display:block;
    margin-right:auto;
    margin-left:auto;
    width: 85%;
}

.hero{
    position: relative;
    padding-top:100px;
    padding-bottom:120px;
}

.hero-yajirushi{
    height: 130px;
    margin-top:30px
}

.section{
    position: relative;
    padding:100px 0px 100px 0px;
}

.section-blue{
    position: relative;
    background-color: #005cef;
}

.w-title-blue{
    font-size: 90px;
    line-height: 90px;
    color:#005cef;
    font-weight: bold;
}

.header-text{
    color:#fff;
    font-size:60px;
    letter-spacing: -2px;
    font-weight:bold;
    margin-bottom:50px;
}

.header-text-blue{
    color:#003286;
}

.project{
    border-bottom:solid 8x #0055ce;
    padding-top:50px;
}

.project-subtitle {
    color:red;
    font-weight: 550;
    text-decoration: none;
}

.project-title{
    color:red;
    display:inline-block;
    font-size: 70px;
    font-weight: 600;
    margin-bottom:50px;
}
.project-arrow{
    float:right;
}

.section-red{
    background:red;
}

.hr{
    height:8px;
}

.hr-blue{
    background-color: #0055ce;
}

.hr-white{
    background-color: #fff;
    margin-bottom: 40px;
}

.hr-thin{
    height:5px;
    background-color: black;
}

.header{
    color:white;
    font-size: 120px;
    font-weight: 600;
}

.services-body{
    font-weight: 500;
    text-align: justify;
    letter-spacing: -2px;
}

.services-link{
    font-size:50px;
    font-weight:550;
    text-decoration: none;
    color: #0048bc;
}

.services-link:hover{
    color:white;
    
}

a:hover{
    text-decoration: none;
}

.team{
    padding:100px 0px;
}

.team-bg{
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 120%;
    max-width: none;
    margin-top: 5%;
    margin-left: -10%;
}

.person{
    position: relative;
}

.person-img{
    position: relative;
    left: 27px;
    width:400px;
    display: block;
}

.person-img-overlay{
    position: absolute;
    top: 0px;
}

.person-img-overlay:hover{
    position: absolute;
    opacity: 0;
}

.kage_1{
    position: absolute;
    width:427px;
}

.person-title{
    color:white;
    font-size:50px;
    text-align:left;
    font-weight:600;
    margin-top:20px;
    margin-top:20px;
}

.person-label{
    color: hsla(0, 0%, 100%, .6);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.email-link{
    display:inline-block;
    margin-bottom:20px;
}

.email-link:hover .hr{
    transform: scaleX(1);
}

.email-link .hr{
    transform: scaleX(0);
    transition: transform 0.3s ease-out;

}

.header-link-a{
    font-size:60px;
    color:#fff;
}

.header-link-a:hover{
    color:#fff;
}

.footer-p-bold ,.paragraph{
    color:#fff;
    font-size:20px;
    line-height:1.8;
}

.footer-containts{
    float:left;
}

.footer-arrow{
    margin-top:220px;
    float:right;
}


.footer-img{
    width:50px;
}

.blue-2{
    height:800px;
}