body{
    font-family:Arial, Helvetica, sans-serif;
}


.container{
    padding:0px;
    margin:0px;
    max-width:1980px;
}
.w-nav{
    height:200px;
}
.nav-logo{
    display:inline-block;
    float:left;
}
.nav{
    float:right;
}

.hero{
    height:600px;
}

h1{
  color: #000;
  font-size: 140px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -8px;
}

.square{
    position: absolute;
    left: 35%;
    z-index: 8;
    width: 1600px;
    max-width: none;
}

.wrapper{
    position: relative;
    z-index: 900;
}

.hero-yajirushi{
    height: 130px;
}

.section-blue{
    position: relative;
    height:700px;
    background-color: #005cef;
}

.section-red{
    background:red;
}