.hero{
    height: 100vh;
    background-image: url(./img/hero-img.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    background-position-x: 50%;
}

.nav-bar{
    position: fixed;
    z-index: 10;
}

.hero-logo{
    display: block;
    width: 290px;
    margin: 0 auto;
}

.main{
    height: 100vh;
    background-image: url(./img/about-bg-pc.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
}
.hero-about{
    display: block;
    width: 200px;
    margin: 0 auto;
}