.hero{
    height: 100vh;
    background-image: url(./img/hero-img.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    background-position-x: 50%;
}

.nav-bar{
    position: fixed;
    z-index: 15;
}

.hero-logo{
    display: block;
    width: 290px;
    margin: 0 auto;
}

.main{
    height: 100vh;
    background-image: url(./img/about-bg-pc.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
}
.hero-about{
    display: block;
    width: 200px;
    margin: 0 auto;
}

.aboutTxt{
    line-height: 2.5;
    display: block;
}
.aboutCase{
    display: block;
}
.caseTxt{
    display: block;
    width:200px;
    height: 100px;
}


.box {
    height: 12vw;
    width: 12vw;
    background-color: transparent;
    position: relative;
  }
  .box:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: calc(100% - 20px);
    /* background-color: green; */
    border-radius: 50%;
    border: solid 2px white;
  }
  .box:after {
    content: "";
    overflow:hidden;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 50%;
    background-color: black;
  }
  .box .content {
    position: relative;
    z-index: 22;
  }