
body{
    background-color:#a3b5c0;
    color: white;
     }



 ul {
    text-align: right;

    }
    
li {
    display: inline;
    padding: 10px;
    }

.img:hover {
    background-color:black;
}

.text {
    position: absolute;
    top: 80px;
    left: 10vw;
    width: 50%;
    transition: left 1s linear, top 1s linear;
}

.hana {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.ita {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.kan{
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.rou {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.umi {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.ice {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.eda {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}

.fude {
    position: absolute;
    top: 400px;
    left: 10vw;
    width: 20%;
    transition: left 1s linear, top 1s linear;
}