.logo{
    padding: 0px;
    margin: 100px;
}

body{
    background-color:#a3b5c0;
    color: white;
     }



ul {
    text-align: right;

    }
    
li {
    display: inline;
    padding: 10px;
    }
    